<header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
</header>
<%= render 'stat', title: "Products", count: @counts['product'], link: "/admin/products" %>
<%= render 'stat', title: "Categories", count: @counts['category'], link: "/admin/categories" %>
