<h1>Admin::Dashboard#show</h1>

<%= render 'stat', title: "Products", count: @counts['product'], link: "/admin/products" %>
<%= render 'stat', title: "Categories", count: @counts['category'], link: "/admin/categories" %>
